### TON Clusters


by Alberto Ueda

In [1]:
%pylab inline
%matplotlib inline

import pandas as pd
import numpy as np
import mmap
import time
import re

from unidecode import unidecode
UTF8 = 'utf-8'        

class Dict(dict):
    def __missing__(self, key):
            return False

#reload(sys)  # Solve the acentos problem, but create the terminal output problem
#sys.setdefaultencoding(UTF8)

mypath = '/mnt/hd0/alberto/Dropbox/ufmg-not-code/datasets/dblp/cn-infocom-clusters/' # UFMG
#mypath = '/home/alberto/Dropbox/ufmg-not-code/datasets/dblp/ton-clusters/' # Home

Populating the interactive namespace from numpy and matplotlib

In [2]:
a_p = pd.read_csv(mypath + "../authorpaper.csv", names=['author','paper'])#, nrows=17220)
a_p.head()

   author  paper
0       0      0
1       0      1
2       0      2
3       0      3
4       0      4

#### IDs ---> Names

In [73]:
all_names = pd.read_csv(mypath + "../all_names.csv")
author_id = 0
print (all_names.ix[author_id]['a_name']) # Expected: H. Vincent Poor

H. Vincent Poor

In [4]:
# To find TON papers: 
# grep -n 'journals/ton/' ../papers.csv > papers.csv.ton
# sed -i -- 's/:/\t/g' papers.csv.ton                              # replace ':' from grep by tab
# awk '{$1=$1-1} {print}' papers.csv.ton > papers.csv.ton.fixed    # convert paper id to 0-index base
# sed -i -- 's/\ /\t/g' papers.csv.ton.fixed                       # replace generated spaces for tabs again 

p_ton = pd.read_csv(mypath + "papers.csv.ton.fixed", header=None, names=['paper', 'conf', 'year', 'x'], sep='\t')#, nrows=17220)
p_ton.head()

   paper                         conf  year   x
0    933  journals/ton/ThejaswiZPPZ10  2010  86
1   1542    journals/ton/WangKAGLZW13  2013  86
2   4832       journals/ton/HeSGZZG08  2008  86
3  11683         journals/ton/YangS15  2015  86
4  11713        journals/ton/DingYX12  2012  86

In [5]:
a_ton = pd.merge(p_ton, a_p, how='left', on='paper').merge(all_names, on='author', how='left')
a_ton.head(10)

,paper,conf,year,x,author,a_name
0,933,journals/ton/ThejaswiZPPZ10,2010,86,0,H. Vincent Poor
1,933,journals/ton/ThejaswiZPPZ10,2010,86,3173,Junshan Zhang
2,207519,journals/ton/ChoiJZS14,2014,86,3173,Junshan Zhang
3,207632,journals/ton/QianZZSJ13,2013,86,3173,Junshan Zhang
4,235299,journals/ton/YangKZCT13,2013,86,3173,Junshan Zhang
5,933,journals/ton/ThejaswiZPPZ10,2010,86,10669,Dong Zheng
6,207632,journals/ton/QianZZSJ13,2013,86,10669,Dong Zheng
7,933,journals/ton/ThejaswiZPPZ10,2010,86,29139,Man-On Pun
8,933,journals/ton/ThejaswiZPPZ10,2010,86,155791,Chandrashekhar Thejaswi P. S.
9,1542,journals/ton/WangKAGLZW13,2013,86,1,Wei Wang

In [8]:
a_ton[a_ton['a_name'].str.contains('Edmundo')]
# Saving data...
# a_ton.to_csv(mypath + 'ton_all_authors_and_papers.csv', index=False)

In [13]:
a_ton_unique = a_ton[['author','a_name']].drop_duplicates().reset_index()
a_ton_unique.head()

   index  author                         a_name
0      0       0                H. Vincent Poor
1      1    3173                  Junshan Zhang
2      5   10669                     Dong Zheng
3      7   29139                     Man-On Pun
4      8  155791  Chandrashekhar Thejaswi P. S.

In [10]:
print len(a_ton), len(a_ton_unique) # Expected: 6708 3776

6708 3776

In [14]:
a_ton_unique[a_ton_unique['author'] == 83542]

     index  author         a_name
455   1242   83542  Kyoungwon Suh

In [17]:
k = 0
for index,row in a_ton_unique.iterrows(): # try to use 'apply' later :)
    #if (k == 5): break
    k+=1        
    
    a_score = len(a_ton[a_ton['author'] == row['author']])       
    a_ton_unique.set_value(index, 'score', a_score)
    
a_ton_unique.head()

# Saving data...
# a_ton_unique[['author','a_name', 'score']].to_csv(mypath + 'ton_authors_unique.csv', index=False)

In [18]:
a_ton[a_ton['author'] == 3173] # Expected 4 papers

    paper                         conf  year   x  author         a_name
1     933  journals/ton/ThejaswiZPPZ10  2010  86    3173  Junshan Zhang
2  207519       journals/ton/ChoiJZS14  2014  86    3173  Junshan Zhang
3  207632      journals/ton/QianZZSJ13  2013  86    3173  Junshan Zhang
4  235299      journals/ton/YangKZCT13  2013  86    3173  Junshan Zhang

In [19]:
list_a_ton = a_ton_unique['author'].tolist()
10540 in list_a_ton

True

In [20]:
a_ton_unique.sort('score', inplace=True, ascending=False)
a_ton_unique.head(10)

# Saving data...
# a_ton_unique[['author','a_name', 'score']].to_csv(mypath + 'ton_authors_sorted.csv', index=False)

      index  author               a_name  score
19       27     550       Ness B. Shroff     44
333     906    1915           R. Srikant     32
48      141     211    Donald F. Towsley     29
389    1062     242      Ian F. Akyildiz     26
1304   3155    5116         Reuven Cohen     24
678    1747    1846        Eytan Modiano     24
492    1316     465  Biswanath Mukherjee     24
61      185      42         Kang G. Shin     22
1582   3692    4278       T. V. Lakshman     21
1221   2961    4819   Edward W. Knightly     20

In [21]:
len(a_ton_unique)

3776

In [ ]:
# author -> all_coauthors
coauthors = Dict()
with open(mypath + '../coauthors.csv.unique') as f:       # Format: a b\na c 
    k = 0    
    for line in f.readlines():        
        # if (k == 1000000): break    # full exec. time ~1min
        k+=1       
        
        authors = line.split()        
        author1 = int(authors[0])
        author2 = int(authors[1])
        
        if coauthors[author1] == False: coauthors[author1] = []            
        coauthors[author1].append(author2)    
        
        if coauthors[author2] == False: coauthors[author2] = []            
        coauthors[author2].append(author1)

In [4]:
# Saving data...
with open(mypath + 'author-coauthors.tsv', 'w') as f:    
    for key, values in coauthors.items():
        f.write(str(key))
        for value in values:
            f.write('\t' + str(value))
        f.write('\n')

In [40]:
a_num_papers = pd.read_csv(mypath + '../author_num_papers.csv')
a_num_papers.head()

   author  n_papers
0       0      1095
1       1      1041
2       2       983
3       3       957
4       4       912

In [45]:
# Minimum number of pubs
min_publications = 20

filtered_authors = a_num_papers[a_num_papers['n_papers'] > min_publications]['author'].tolist()
highest_author_id = len(filtered_authors)
highest_author_id

79800

In [46]:
# Read here and avoid to load all the data with the steps before
ton_top_authors = pd.read_csv(mypath + 'ton_authors_sorted.csv')
ton_top_authors.head()

# Load coauthors   # full exec. time ~2min
max_coauthors = 100
# highest_author_id = 170049

coauthors = Dict()
with open(mypath + 'author-coauthors.tsv') as f:        
    k = 0    
    for line in f.readlines():          
        if k % 100000 == 0: print ('Processed', k , 'rows of coauthorship...')    
        k+=1       
        
        authors = line.split()        
        author = int(authors[0])
        
        if (author > highest_author_id): break
        
        # Limiting the max number of coauthors
        max_coauthors = max_coauthors if len(authors) > max_coauthors else len(authors)
        
        for i in range(1, len(authors)): #len(authors) (unlimited) or max_coauthors             
            coauthor = int(authors[i])
            
            if (coauthor > highest_author_id): continue
            
            if coauthors[author] == False: coauthors[author] = []            
            coauthors[author].append(coauthor)    

print ('Processed has finished.')

Processed 0 rows of coauthorship...
Processed has finished.

In [43]:
ton_top_authors[ton_top_authors['a_name'].str.contains('Edmundo')]['author'].tolist()
coauthors[10540][0] # Expected: 55 (using unlimited number of neighbors)

55

In [47]:
# Authors of Interest, exec. time 50.2.50:2sec, 50.3.50:5min (755587 edges)
# Generates input for Gephi
n_top_authors = 50
levels = 2
tmp_file = 'edges_without_weights.csv'

# Top
list_top_ton = ton_top_authors['author'].head(n_top_authors).tolist()
# Specific authors
# list_top_ton = ton_top_authors[ton_top_authors['a_name'].str.contains('Edmundo')]['author'].head(n_authors).tolist()
print ("Writing coauthorship edges in the file...")

with open(mypath + tmp_file, 'w') as f:        
    found = Dict()    
    
    all_authors_found = []
    new_authors = list_top_ton    
    f.write('SOURCE,TARGET,TYPE\n')
        
    for i in range(levels):
        #f.write('\nlevel:' + str(i+1) + '\n')
        authors = new_authors
        new_authors = []

        for author in authors:            
            if coauthors[author] == False or found[author] == True: continue           
            all_authors_found.append(author)    

            for coauthor in coauthors[author]:      
                
                # Left ID always lower than Right ID
                if (author < coauthor):
                    f.write(str(author) + ',' + str(coauthor) + ',Undirected\n')
                else:
                    f.write(str(coauthor) + ',' + str(author) + ',Undirected\n')
                    
                new_authors.append(coauthor)   
                all_authors_found.append(coauthor)

            # if (author > highest_author_id): print ('Warning: the author should not be here:', author)
            found[author] = True


# Names of the authors of interest; highlighting the top authors from the list
print ("Writing names of interest...")
nodes = pd.read_csv(mypath + "../all_names.csv")
nodes = nodes[nodes['id'].isin(all_authors_found)]
nodes['top'] = 0
nodes.ix[nodes['id'].isin(list_top_ton), 'top'] = 1
nodes.to_csv(mypath + "nodes.csv", index=False)     

# Edge Weights (based on number of coauthorships)
print ("Assigning the correct weights to the edges...")
weights = pd.read_csv(mypath + '../coauthorships.csv', names=['SOURCE', 'TARGET', 'WEIGHT'], skiprows=1)
edges = pd.read_csv(mypath + tmp_file)

# We could apply functions to balance the weights
weights['WEIGHT'] = weights['WEIGHT'].apply(lambda x: (log(x) + 1))

edges = pd.merge(edges, weights)
edges.drop_duplicates(inplace=True)
edges.to_csv(mypath + 'edges.csv', index=False)

# MCL Input
print ("Generating MCL input...")
edges[['SOURCE', 'TARGET', 'WEIGHT']].to_csv(mypath + 'mcl_input.txt', index=False, header=None, sep=' ')

print ("N:", len(nodes), " E:", len(edges))
print ("Process has finished.")

Writing coauthorship edges in the file...
Writing names of interest...
Assigning the correct weights to the edges...
Generating MCL input...
N: 33479  E: 109943
Process has finished.

In [29]:
# Reweighting only
old = pd.read_csv(mypath + 'edges.csv')
old['WEIGHT'] = old['WEIGHT'].apply(lambda x: (log(x) + 1))
# old.to_csv(mypath + 'coauthorships_of_interest.csv.weight-log')
old.head()

   SOURCE  TARGET        TYPE    WEIGHT
0      13     550  Undirected  2.194706
1      90     550  Undirected  1.000000
2     111     550  Undirected  2.026672
3     211     550  Undirected  1.526589
4     214     550  Undirected  1.000000

In [50]:
# Caution: After we have MCL Clusters!
nodes = pd.read_csv(mypath + "nodes.csv")

# MCL Clusters
with open(mypath + 'mcl_output.txt.I1.2') as f:        
    for line in f.readlines():               
        authors = [int(x) for x in line.split()]
        cluster_id = int(authors[0])
        nodes.ix[nodes['id'].isin(authors), 'mcl_cluster'] = cluster_id 
        
nodes[['id', 'label', 'top', 'mcl_cluster']].to_csv(mypath + "nodes.csv", index=False)     
nodes.head()

   id            label  top  mcl_cluster
0   0  H. Vincent Poor    0        18458
1   1         Wei Wang    0           13
2   2        Yan Zhang    0           13
3   3          Wei Liu    0           13
4   4          Wen Gao    0           13